<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="mkmodules_mergeguestorders_observer_backend_sales_orderplaceafter_sales_order_place_after"
                  instance="MkModules\MergeGuestOrders\Observer\Backend\Sales\OrderPlaceAfter"/>
    </event>
</config>
